@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic);
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 26.02.2016

    placeholder

    fonts

    site

    logo

    our-team

    portfolio

    partners

    social-networks

*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "bebasneue_regular";
    src: url("../fonts/bebasneue_regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "bebasneue_bold";
    src: url("../fonts/bebasneue_bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    overflow: hidden;
    position: relative;;
    z-index: 1;
    min-width: 1000px;
    min-height: 100%;
    font-family: 'PT Sans', sans-serif;
    background: url("../img/bg-site.jpg")
}
.site:after {
    display: block;
    width: 100%;
    height: 180px;
    clear: both;
    content: '';
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    z-index: 3;
    height: 60px;
    background-color: #cd6a99;
}
.site__header:after{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 793px;
    height: 80px;
    background: url("../img/bg-head.png") no-repeat center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    content: '';
}
.site__centered{
    position: relative;
    z-index: 1;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.site__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 180px;
    padding-top: 45px;
    background: url("../img/bg-footer.png") no-repeat top center;
    text-align: center;
}
.site__footer:before{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 70px;
    background-color: #cd6a99;
    content: '';
}
.site__title{
    margin: 0 0 1px;
    color: #222;
    font-family: 'Lobster', sans-serif;
    font-size: 50px;
    font-weight: normal;
    line-height: 53px;
    text-align: center;
}
.site__title span{
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    padding: 0 84px;
}
.site__title_frame{
    position: relative;
    z-index: 2;
    font-size: 30px;
}
.site__title span:before,
.site__title span:after{
    position: absolute;
    top: 50%;
    left: 0;
    width: 66px;
    height: 18px;
    background: url("../img/title-decor.png") no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    content: '';
}
.site__title span:after{
    right: 0;
    left: auto;
    transform: translateY(-50%) scaleX(-1);
    -webkit-transform: translateY(-50%) scaleX(-1);
}
.site__subtitle{
    display: block;
    margin: 0 0 53px;
    color: #222222;
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 33px;
    text-align: center;
}
.site__subtitle_1{
    margin-bottom: 37px;
    color: #cd6a99;
}
.site__subtitle_2{
    margin: 0 auto 39px;
    font-size: 20px;
    line-height: 14px;
    color: #cd6a99;
}
.site__subtitle_3{
    margin: -7px auto 39px;
    color: #cd6a99;
    font-size: 20px;
    line-height: 14px;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 37px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
/* --------------- /logo --------------- */

/* --------------- phone --------------- */
.phone {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #fff;
    font: 25px 'Lobster', cursive;
    cursor: default;
}
/* --------------- /phone --------------- */

/* --------------- main-slider --------------- */
.main-slider__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
/* --------------- /main-slider --------------- */

/* --------------- way --------------- */
.way{
    margin-top: 110px;
}
.way__content{
    position: relative;
    height: 823px;
    margin-bottom: -52px;
    padding-top: 165px;
    background: url("../img/img-cake.png") no-repeat top center;
    background-size: contain;
}
.way__content-topic{
    display: block;
    font-size: 22px;
}
.way__content-item{
    margin-bottom: 51px;
    font: 17px 'Lobster', sans-serif;
    color: #fff;
    text-shadow: 0 1px 5px rgba(0,0,0,.9);
    text-align: center;
}
.way__content-item:nth-child(2){
    margin-bottom: 58px;
}
.way__content-item:nth-child(3){
    margin-bottom: 68px;
}
.way__decision{
    position: absolute;
    top: 170px;
    right: -10px;
    color: #cd6a99;
    font: 16px 'Lobster', sans-serif;
    text-align: left;
}
.way__decision-item{
    opacity: 0;
    position: relative;
    margin-bottom: 12px;
    padding-left: 43px;
    background: url("../img/subtitle-decor.png") no-repeat 0 50%;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    transition: opacity .3s ease, transform .3s ease;
    -webkit-transition: opacity .3s ease, transform .3s ease;
}
.way__decision-item:nth-child(1){
    left: -108px;
}
.way__decision-item:nth-child(2){
    left: -88px;
    transition-delay: .5s;
}
.way__decision-item:nth-child(3){
    left: -68px;
    transition-delay: 1s;
}
.way__decision-item:nth-child(4){
    left: -33px;
    transition-delay: 1.5s;
}
.way__decision-item:nth-child(5){
    left: -13px;
    transition-delay: 2s;
}
.way__decision-item:nth-child(6){
    left: 10px;
    transition-delay: 2.5s;
}
.way__content.visible .way__decision-item{
    opacity: 1;
}
/* --------------- /way --------------- */

/* --------------- trip --------------- */
.trip{
    position: absolute;
    top: 11px;
    left: 13px;
    width: 214px;
    height: 65px;
    padding-top: 14px;
    color: #fff;
    font: 17px 'bebasneue_regular', sans-serif;
    text-transform: uppercase;
    background: url("../img/plane.png") no-repeat;
    background-position: 30px 0;
    background-size: 135px 65px;
    text-align: justify;
    z-index: 2;
}
.trip:after{
    display: inline-block;
    width: 100%;
    content: '';
}
/* --------------- /trip --------------- */

/* --------------- organization --------------- */
.organization{
    position: relative;
    z-index: 2;
    padding: 52px 0 65px;
    background-color: #fff;
    text-align: center;
}
.organization:before{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 61px;
    background: url("../img/bg-organization.png") no-repeat top center;
    content: '';
}
.organization__wrap{
    padding-top: 61px;
    text-align: justify;
}
.organization__wrap:after{
    display: inline-block;
    width: 100%;
    content: '';
}
.organization__item{
    display: inline-block;
    vertical-align: top;
    width: 220px;
    background-color: #ebe3e5;
    font: normal 16px 'bebasneue_regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    transition: box-shadow .3s ease;
    -webkit-transition: box-shadow .3s ease;
}
.organization__item:hover{
    box-shadow: 1px 1px 8px rgba(0,0,0,.3);
}
.organization__title{
    padding: 9px 0 7px;
    background-color: #cd6a99;
    color: #fff;
}
.organization__img{
    height: 147px;
    border-bottom: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.organization__content{
    position: relative;
    margin: 12px 0 12px 48px;
    padding-left: 20px;
    border-left: 1px solid #d5c8cb;
    color: #000;
    text-align: left;
}
.organization__content span{
    color: #cd6a99;
}
.organization__letter{
    position: absolute;
    top: -10px;
    left: -32px;
    color: #cd6a99;
    font: normal 52px 'bebasneue_bold', sans-serif;
    -webkit-transform-origin: 0%;
    transform-origin: 0%;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    background-repeat: repeat-y;
}
.organization__letter_1{
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.organization__letter_2{
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.organization__letter_3{
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.organization__letter_4{
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
@-webkit-keyframes pulse{
    from {
        color: #f00;
        text-shadow: 0 0 10px #f00;
    }
    to 	{
        color: #cd6a99;
        text-shadow: none;
    }
}
@keyframes pulse{
    from {
        color: #f00;;
        text-shadow: 0 0 10px #f00;
    }
    to 	{
        color: #cd6a99;
        text-shadow: none;
    }
}
/* --------------- /organization --------------- */

/* --------------- video-memory --------------- */
.video-memory{
    position: relative;
    padding-top: 87px;
    text-align: center;
}
.video-memory:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 61px;
    background: url("../img/bg-video.png") no-repeat 50% 0;
    content: '';
}
.video-memory__wrap{
    position: relative;
    margin-bottom: 33px;
    padding-top: 21px;
}
.video-memory__wrap-item{
    position: absolute;
    top: 40px;
    left: 30px;
    width: 180px;
    color: #222;
    font-size: 18px;
    text-align: left;
}
.video-memory__content{
    margin-bottom: 24px;
    font: 15px/18px 'Lobster', sans-serif;
    color: #222;
}
/* --------------- /video-memory --------------- */

/* --------------- advantages --------------- */
.advantages{
    height: 430px;
    margin-bottom: 31px;
    padding-top: 141px;
    background: url("../img/bg-advantages.png") no-repeat top center;
    text-align: center;
}
.advantages__list{
    display: inline-block;
    margin-left: 204px;
}
.advantages__list li{
    position: relative;
    height: 40px;
    margin-bottom: 10px;
    font: 30px 'bebasneue_bold', sans-serif;
    text-transform: uppercase;
    text-align: left;
}
.advantages__list li span{
    display: inline-block;
    height: inherit;
    padding: 4px 10px;
    background-color: #fff;
}
.advantages__list li:before{
    position: absolute;
    top: 0;
    left: -63px;
    width: 40px;
    height: 40px;
    border: 5px solid #fff;
    border-radius: 50px;
    background-color: #5da4fc;
    box-shadow: 1px 1px 0 #5da4fc, -1px -1px 0 #5da4fc, -1px 1px 0 #5da4fc, 1px -1px 0 #5da4fc;
    box-sizing: border-box;
    content: '';
}
.advantages__list li:after{
    position: absolute;
    top: 11px;
    left: -48px;
    width: 7px;
    height: 12px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    content: '';
}
/* --------------- /advantages --------------- */

/* --------------- benefit --------------- */
.benefit{
    margin-bottom: 16px;
    font: 16px 'Lobster', cursive;
    color: #222;
    text-align: center;
}
.benefit__introduction{
    margin-bottom: 16px;
    letter-spacing: -.6px;
}
.benefit__wrap{
    position: relative;
    top: -30px;
    margin: 0 -40px;
    text-align: justify;
}
.benefit__wrap:after{
    content: '';
    display: inline-block;
    width: 100%;
}
.benefit__item{
    display: inline-block;
    width: 226px;
    height: 232px;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 20px;
}
.benefit__item:before{
    display: block;
    width: 226px;
    height: 220px;
    margin-bottom: -21px;
    background-position: center;
    background-size: cover;
    content: '';
}
.benefit__item span{
    display: block;
    width: 140px;
    margin: 0 auto;
    text-align: center;
}
.benefit__item_service:before{
    background-image: url("../img/icons-001.png");
}
.benefit__item_approach:before{
    background-image: url("../img/icons-002.png");
}
.benefit__item_celebration:before{
    background-image: url("../img/icons-003.png");
}
.benefit__item_price:before{
    background-image: url("../img/icons-004.png");
}
/* --------------- /benefit --------------- */

/* --------------- footer --------------- */
.footer__logo{
    display: inline-block;
    margin-bottom: 38px;
    color: #fff;
    font: 45px 'Lobster', cursive;
}
.footer__menu{
    font: 17px 'bebasneue_regular', sans-serif;
    text-transform: uppercase;
}
.footer__menu-item{
    position: relative;
    margin: 0 14px;
    color: #fff;
}
.footer__menu-item span:hover{
    text-decoration: underline;
}
.footer__menu-item:before{
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: -18px;
    border-left: 1px solid #fff;
    cursor: default;
    content: '';
}
.footer__menu-item:first-child:before{
    display: none;
}
/* --------------- /footer --------------- */

/* --------------- our-team --------------- */
.our-team {
    position: relative;
    z-index: 1;
    padding: 128px 0 10px;
    margin-bottom: 75px;
    background: #fff;
}
.our-team:after{
    position: absolute;
    bottom: -93px;
    left: 0;
    width: 100%;
    height: 93px;
    background: url("../img/white-bg.png") no-repeat center;
    background-size: cover;
    content: '';
}
.our-team__slogan{
    display: block;
    margin: 0 0 35px;
    color: #cd6a99;
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
}
.our-team__slogan span{
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 10px;
    white-space: pre-line;
}
.our-team__slogan span:before,
.our-team__slogan span:after{
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 11px;
    background: url("../img/quotes.png") no-repeat center;
    content: '';
}
.our-team__slogan span:after{
    top: auto;
    right: 0;
    bottom: 6px;
    left: auto;
    -webkit-transform: scaleY(-1) scaleX(-1);
    transform: scaleY(-1) scaleX(-1);
}
.our-team__slider{
    position: relative;
    padding: 0 4px;
    text-align: right;
}
.our-team__slider:after{
    position: absolute;
    left: 51px;
    top: 3px;
    width: 383px;
    height: 437px;
    background: url("../img/camera.png") no-repeat;
    content: '';
}
.our-team__slider .swiper-container {
    display: inline-block;
    vertical-align: top;
    width: 456px;
    height: 397px;
    text-align: left;
}
.our-team__card{
    width: 456px;
    height: 397px;
}
.our-team__pic{
    position: relative;
    width: 100%;
    height: 307px;
    background-size: cover;
}
.our-team__pic:after {
    content: " ";
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(110, 110, 110, 0.1);
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-animation: flicker 1s infinite;
    animation: flicker 1s infinite;
}
.our-team__pic:before {
    content: " ";
    display: block;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(70, 70, 70, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
.our-team__text{
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 15px 0;
    color: #222222;
    font-size: 20px;
    font-family: 'Lobster', sans-serif;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
}
.our-team__text>div{
    display: table;
    width: 100%;
    height: 100%;
}
.our-team__text>div>div{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 95px;
}

@keyframes flicker {
    0% {
        opacity: 0.74;
    }
    5% {
        opacity: 0.55;
    }
    10% {
        opacity: 0.58;
    }
    15% {
        opacity: 0.22;
    }
    20% {
        opacity: 0.53;
    }
    25% {
        opacity: 0.44;
    }
    30% {
        opacity: 0.83;
    }
    35% {
        opacity: 0.17;
    }
    40% {
        opacity: 0.73;
    }
    45% {
        opacity: 0.72;
    }
    50% {
        opacity: 0.19;
    }
    55% {
        opacity: 0.82;
    }
    60% {
        opacity: 0.87;
    }
    65% {
        opacity: 0.98;
    }
    70% {
        opacity: 0.82;
    }
    75% {
        opacity: 0.29;
    }
    80% {
        opacity: 0.27;
    }
    85% {
        opacity: 0.74;
    }
    90% {
        opacity: 0.45;
    }
    95% {
        opacity: 0.98;
    }
    100% {
        opacity: 0.75;
    }
}
@-webkit-keyframes flicker {
    0% {
        opacity: 0.74;
    }
    5% {
        opacity: 0.55;
    }
    10% {
        opacity: 0.58;
    }
    15% {
        opacity: 0.22;
    }
    20% {
        opacity: 0.53;
    }
    25% {
        opacity: 0.44;
    }
    30% {
        opacity: 0.83;
    }
    35% {
        opacity: 0.17;
    }
    40% {
        opacity: 0.73;
    }
    45% {
        opacity: 0.72;
    }
    50% {
        opacity: 0.19;
    }
    55% {
        opacity: 0.82;
    }
    60% {
        opacity: 0.87;
    }
    65% {
        opacity: 0.98;
    }
    70% {
        opacity: 0.82;
    }
    75% {
        opacity: 0.29;
    }
    80% {
        opacity: 0.27;
    }
    85% {
        opacity: 0.74;
    }
    90% {
        opacity: 0.45;
    }
    95% {
        opacity: 0.98;
    }
    100% {
        opacity: 0.75;
    }
}
/* --------------- /our-team --------------- */

/* --------------- btn --------------- */
.btn{
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    padding-top: 11px;
    border: none;
    border-radius: 30px;
    background-color: #cd6a99;
    color: #fff;
    font: 20px 'Lobster', cursive;
    text-align: center;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}
.btn:hover{
    background-color: #e5609f;
}
.btn_1{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
.btn_2{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    padding: 3px 5px;
    border: 3px solid #cd6a99;
    background: transparent;
    color: #cd6a99;
    font-size: 15px;
    white-space: pre-line;
    transition: background-color .3s ease, color .3s ease;
    -webkit-transition: background-color .3s ease, color .3s ease;
}
.btn_2:hover{
    background-color: #cd6a99;
    color: #fff;
}
/* --------------- /btn --------------- */

/* --------------- portfolio --------------- */
.portfolio{
    padding: 16px 0 19px;
}
.portfolio .site__subtitle{
    margin: 0 0 27px;
}
.portfolio__title{
    position: relative;
    margin: 0 0 24px;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}
.portfolio__title span{
    display: block;
    margin: 4px 0 0;
}
.portfolio__title_video:before,
.portfolio__title_photo:before{
    display: block;
    width: 100%;
    height: 32px;
    background: url("../img/video.png") no-repeat center;
    background-size: 32px 32px;
    text-align: center;
    content: '';
}
.portfolio__title_photo:before{
    height: 25px;
    background: url("../img/photo.png") no-repeat center;
    background-size: 32px 25px;
}
.portfolio__slider{
    display: block;
    position: relative;
    margin: 0 0 1px;
    padding: 0 0 26px;
    text-align: right;
    cursor: pointer;
}
.portfolio__slider>div{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 700px;
    height: 153px;
    text-decoration: underline;
}
.portfolio__slider .swiper-container {
    width: 100%;
    height: 153px;
    text-align: left;
}
.portfolio__slider .swiper-slide {
    width: 220px;
    height: 153px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.portfolio__slider .swiper-slide:hover{
    opacity: 0.8;
}
.portfolio__slider .swiper-button-prev{
    left: -45px;
}
.portfolio__slider .swiper-button-next{
    right: -45px;
}
.portfolio__slider_video{
    background: url("../img/video-bg.png") no-repeat left bottom;
}
.portfolio__slider_photos{
    background: url("../img/photo-bg.png") no-repeat 28px bottom;
}
/* --------------- /portfolio --------------- */

/* --------------- partners --------------- */
.partners{
    position: relative;
    margin: 73px 0 0;
    padding: 66px 0 51px;
    background: #fff;
    text-align: center;
}
.partners:before{
    position: absolute;
    top: -93px;
    left: 0;
    width: 100%;
    height: 93px;
    background: url("../img/white-bg.png") no-repeat center;
    background-size: cover;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    content: '';
}
.partners:after{
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 100%;
    height: 120px;
    background: #fff;
    content: '';
}
.partners__items{
    margin: 0 -9px 14px;
    padding: 6px 0 0;
}
.partners__item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 140px;
    height: 70px;
    margin: 0 8px 15px;
    border: 1px solid #efdae0;
    -webkit-transition: border 0.3s, box-shadow 0.3s;
    transition: border 0.3s, box-shadow 0.3s;
}
.partners__item:hover{
    border-color: #cdb9be;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.4);
}
.partners__item img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
/* --------------- /partners --------------- */

/* --------------- social-networks --------------- */
.social-networks a{
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-left: 5.5px;
    border-radius: 4px;
    text-indent: -9999px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.social-networks a:first-child{
    margin-left: 0;
}
.social-networks__odn{
    background: url("../img/odn.png") no-repeat center #fe6600;
}
.social-networks__odn:hover{
    background-color: #c14d00;
}
.social-networks__google{
    background: url("../img/google.png") no-repeat center #e40000;
}
.social-networks__google:hover{
    background-color: #af0000;
}
.social-networks__vk{
    background: url("../img/vk.png") no-repeat center #253f73;
}
.social-networks__vk:hover{
    background-color: #1a254a;
}
.social-networks__facebook{
    background: url("../img/facebook.png") no-repeat center #132853;
}
.social-networks__facebook:hover{
    background-color: #212121;
}
.social-networks__twitter{
    background: url("../img/twitter.png") no-repeat center #44b8c9;
}
.social-networks__twitter:hover{
    background-color: #3a8e9f;
}
/* --------------- /social-networks --------------- */

/* --------------- choice --------------- */
.choice{
    margin-bottom: 48px;
    text-align: center;
}
.choice__wrap{
    margin-bottom: 15px;
}
.choice__wrap-item{
    display: inline-block;
    vertical-align: top;
    width: 155px;
    margin: 0 77px;
    font: 20px 'Lobster', cursive;
    color: #d482a7;
}
.choice__wrap-item:before{
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto 21px;
    border: 5px solid #f2dce2;
    border-radius: 500px;
    box-sizing: border-box;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}
.choice__wrap-item_budget:before{
    background-image: url('../img/icons-005.png')
}
.choice__wrap-item_memories:before{
    background-image: url('../img/icons-006.png')
}
.choice__wrap-item_manager:before{
    background-image: url('../img/icons-007.png')
}
/* --------------- /choice --------------- */

/* --------------- your-choice --------------- */
.your-choice{
    position: relative;
    z-index: 1;
    margin-bottom: -110px;
    padding: 118px 0 144px;
    background: #fff;
}
.your-choice__wrap {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.your-choice__tape:after,
.your-choice__tape:before{
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 19px;
    z-index: 3;
    width: 26px;
    background: linear-gradient(transparent 50%, #fff 50%) repeat-y;
    background-size: 26px 45px;
    content: "";
}
.your-choice__tape:after{
    left: 386px;
}
.your-choice__tape {
    overflow: visible;
    position: relative;
    margin: 79px 0 30px;
    padding-bottom: 10px;
}
.your-choice__list{
    display: inline-block;
    vertical-align: top;
    width: 470px;
    margin-left: 23px;
}
.your-choice__title{
    height: 47px;
    margin: -7px 0 10px;
    font: 30px 'bebasneue_bold', sans-serif;
    text-transform: uppercase;
    text-align: left;
    transition: font-size .3s ease;
    -webkit-transition: font-size .3s ease;
}
.your-choice__item:hover .your-choice__title{
    font-size: 36px;
    transition: font-size .3s ease;
    -webkit-transition: font-size .3s ease;
}
.your-choice__tape .your-choice__item:last-child .your-choice__slider{
    padding-bottom: 30px;
}
.your-choice_list li {
    position: relative;
    height: 40px;
    margin: 0 0 10px 66px;
    font: 20px 'bebasneue_bold', sans-serif;
    text-transform: uppercase;
    text-align: left;
}
.your-choice_list li:before{
    background-color: #ead3d9;
    box-shadow: 1px 1px 0 #ead3d9, -1px -1px 0 #ead3d9, -1px 1px 0 #ead3d9, 1px -1px 0 #ead3d9;
}
.your-choice_list li span {
    display: inline-block;
    height: inherit;
    padding: 10px 10px;
    background-color: #ead3d9;
}
.your-choice__slider{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 431px;
    padding: 25px 0 24px;
    background: #e1e1e1;
}
.your-choice__slider .swiper-container {
    display: block;
    vertical-align: top;
    width: 303px;
    height: 190px;
    margin: 0 auto;
}
.your-choice__slider .swiper-slide {
    height: 192px;
    width: 307px;
    background-size: cover;
    background-repeat: no-repeat;
}
.your-choice__budget{
    position: relative;
    padding: 0 60px 46px;
    text-align: justify;
}
.your-choice__budget:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.your-choice__budget-item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 180px;
    height: 180px;
    color: #9a7f86;
    font: 25px 'bebasneue_bold', sans-serif;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;

}
.your-choice__budget-item div{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.your-choice__front,
.your-choice__back {
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
}
.your-choice__back {
    background: #ead3d9;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.your-choice__budget-item:hover .your-choice__front,
.your-choice__budget-item.hover .your-choice__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.your-choice__budget-item:hover .your-choice__back, .your-choice__budget-item.hover .your-choice__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.your-choice__front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background: #ead3d9;
    z-index: 2;
    font-size: 35px;
}
.your-choice__budget-item span{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    padding-top: 5px;
    line-height: 30px;
    transform: translateY(-50%);
}
.your-choice__update{
    color: #222;
    font: 20px 'Lobster', cursive;
    text-align: center;
}
.your-choice_list{
    margin-left: 0;
}
.call-manager{
    position: relative;
    margin: 0 auto 11px;
    text-align: center;
}
.call-manager_1{
    margin-bottom: 19px;
    text-align: center;
}
.call-manager__feedback{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 3;
    width: 400px;
    margin-left: -200px;
    padding: 20px;
    border-radius: 20px;
    background: #ead3d9;
    text-align: left;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
}
.call-manager__feedback.open{
    visibility: visible;
    opacity: 1;
}
.call-manager__feedback.open .btn{
    padding-top: 0;
}
.call-manager h2{
    color: #222;
    font: 25px 'Lobster', cursive;
    text-align: center;
}
.call-manager__phone{
    color: #222;
    font: 25px 'Lobster', cursive;
    cursor: default;
}
.call-manager__form label{
    display: block;
    margin-bottom: 3px;
    color: #9a7f86;
    font-size: 14px;
    font-weight: 100;
}
.call-manager__form input{
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
    padding-left: 10px;
    border: 1px solid #d0d0d0;
    border-radius:3px;
    font-size: 14px;
}
.call-manager__successfully{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 3;
    width: 400px;
    margin-left: -200px;
    padding: 20px;
    border-radius: 20px;
    background: #ead3d9;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
}
.call-manager__successfully.success{
    visibility: visible;
    opacity: 1;
}
.call-manager__close{
    display: block;
    position: absolute;
    top: 0;
    right: -25px;
    width: 20px;
    height: 20px;
    padding: 1px 0 0 1px;
    border-radius: 50px;
    text-align: center;
    color: #9a7f86;
    background: #ead3d9;
    cursor: pointer;
}
.call-manager__feedback .error input {
    border: 1px solid #cd6a99;
    color: #cd6a99;
}
.call-manager__feedback input:focus {
    border-color: #9a7f86;
}
.call-manager__feedback .error input {
    border: 1px solid #cd6a99;
    color: #cd6a99;
}
.call-manager__feedback input:focus {
    border-color: #9a7f86;
}
/* --------------- /your-choice --------------- */

/* --------------- questions --------------- */
.questions__item {
    opacity: 1;
    position: relative;
    text-align: justify;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.hidden{
    opacity: 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.questions__item-wait{
    opacity: .6;
}
.questions__item-wait:before{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 8;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background-image: url("../img/pre-load.png");
    background-repeat: no-repeat;
    -webkit-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    content:'';
}
.questions__item:after{
    display: inline-block;
    width: 100%;
    content: '';
}
.questions__title{
    position: relative;
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.questions__title:before{
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1px;
    background: #cd6a99;
    content: '';
}
.questions__title span{
    position: relative;
    z-index: 6;
    padding: 0 12px;
    background: #fff;
}
.questions__elem{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 300px;
    height: 210px;
    margin-bottom: 20px;
    text-align: center;
}
.questions__elem span{
    display: block;
    z-index: 6;
    position: absolute;
    top: 0;
    width: 100%;
    height: 33px;
    padding-top: 10px;
    background-color: #cd6a99;
    color: #fff;
    font-family: "bebasneue_regular", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.questions__elem .questions__image{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 177px;
    margin-top: 33px;
}
.questions__radio{
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
}
.questions__elem>div:before{
    display: block;
    opacity: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(205,106,153,.7) url("../img/cheacked.png") no-repeat;
    background-position: center 92px;
    content: '';
}
input[type=radio]:checked + div:before{
    opacity: 1;
}
.questions__result{
    position: relative;
    font-family: 'Lobster', sans-serif;
}
.questions__result-wrap{
    position: relative;
    text-align: justify;
    margin-bottom: 17px;
}
.questions__result-wrap:after{
    display: inline-block;
    width: 100%;
    content: '';
}
.questions__result-item{
    display: inline-block;
    width: 221px;
    height: 146px;
    background-size: cover;
}
.questions__result-title{
    margin-bottom: 3px;
    font-size: 30px;
    text-align: center;
}
.questions__result-sub-title{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #cd6a99;
    margin-bottom: 33px;
}
.questions__result-sub-title_1{
    color: #000;
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    to {
        -ms-transform: rotate(360deg);
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg) translateZ(0);
    }
}
/* --------------- /questions --------------- */