@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic);
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 26.02.2016

    placeholder

    fonts

    site

    logo

    our-team

*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "bebasneue_regular";
    src: url("../fonts/bebasneue_regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "bebasneue_bold";
    src: url("../fonts/bebasneue_bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    font-family: 'PT Sans', sans-serif;
    background: url("../img/bg-site.jpg");
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 180px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 60px;
    background-color: #cd6a99;
    z-index: 3;
}
.site__header:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 793px;
    height: 80px;
    background: url("../img/bg-head.png") no-repeat center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.site__centered{
    position: relative;
    z-index: 1;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.site__title_frame{
    font-size: 30px;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 180px;
    padding-top: 45px;
    background: url("../img/bg-footer.png") no-repeat top center;
    text-align: center;
}
.site__footer:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #cd6a99;
    z-index: -1;
}
.site__title{
    margin: 0 0 1px;
    font-size: 50px;
    line-height: 53px;
    font-family: 'Lobster', sans-serif;
    text-align: center;
    color: #222222;
    font-weight: normal;
}
.site__title span{
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    padding: 0 84px;
}
.site__title span:before,
.site__title span:after{
    position: absolute;
    top: 50%;
    left: 0;
    width: 66px;
    height: 18px;
    background: url("../img/title-decor.png") no-repeat;
    background-size: cover;
    content: '';
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.site__title span:after{
    right: 0;
    left: auto;
    transform: translateY(-50%) scaleX(-1);
    -webkit-transform: translateY(-50%) scaleX(-1);
}
.site__subtitle{
    margin: 0 0 53px;
    font-size: 30px;
    line-height: 33px;
    font-family: 'Lobster', sans-serif;
    text-align: center;
    color: #222222;
    font-weight: normal;
}
.site__subtitle_1{
    color: #cd6a99;
    margin-bottom: 37px;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 2;
}
/* --------------- /logo --------------- */

/* --------------- phone --------------- */
.phone {
    position: absolute;
    top: 15px;
    right: 10px;
    font: 25px 'Lobster', cursive;
    color: #fff;
    cursor: default;
}
/* --------------- /phone --------------- */

/* --------------- trip --------------- */
.trip{
    position: absolute;
    top: 11px;
    left: 13px;
    width: 214px;
    height: 65px;
    padding-top: 14px;
    font: 17px 'bebasneue_regular', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: url("../img/plane.png") no-repeat;
    background-position: 30px 0;
    background-size: 135px 65px;
    text-align: justify;
    z-index: 2;
}
.trip:after{
    content: '';
    display: inline-block;
    width: 100%;
}
/* --------------- /trip --------------- */

/* --------------- advantages --------------- */
.advantages{
    height: 430px;
    margin-bottom: 30px;
    padding-top: 139px;
    background: url("../img/bg-advantages.png") no-repeat top center;
    text-align: center;
}
.advantages__list{
    display: inline-block;
    margin-left: 204px;
}
.advantages__list li{
    position: relative;
    height: 40px;
    margin-bottom: 10px;
    font: 30px 'bebasneue_bold', sans-serif;
    text-transform: uppercase;
    text-align: left;
}
.advantages__list li span{
    display: inline-block;
    height: inherit;
    padding: 4px 10px;
    background-color: #fff;
}
.advantages__list li:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -63px;
    width: 44px;
    height: 44px;
    background: url("../img/advantages-list.png") no-repeat 0 0;
}
/* --------------- /advantages --------------- */

/* --------------- benefit --------------- */
.benefit{
    margin-bottom: 37px;
    font: 16px 'Lobster', cursive;
    color: #222;
    text-align: center;
}
.benefit__introduction{
    margin-bottom: 24px;
    letter-spacing: -.6px;
}
.benefit__wrap{
    text-align: justify;
}
.benefit__wrap:after{
    content: '';
    display: inline-block;
    width: 100%;
}
.benefit__item{
    display: inline-block;
    width: 226px;
    height: 240px;
    padding-top: 181px;
    font-size: 20px;
    background-position: top center;
    background-repeat: no-repeat;
}
.benefit__item span{
    display: block;
    width: 140px;
    margin: 0 auto;
    text-align: center;
}
/* --------------- /benefit --------------- */

/* --------------- footer --------------- */
.footer__logo{
    display: inline-block;
    margin-bottom: 38px;
    font: 45px 'Lobster', cursive;
    color: #fff;
}
.footer__menu{
    font: 17px 'bebasneue_regular', sans-serif;
    text-transform: uppercase;
}
.footer__menu-item{
    position: relative;
    margin: 0 14px;
    color: #fff;
}
.footer__menu-item:hover{
    text-decoration: underline;
}
.footer__menu-item:before{
    position: absolute;
    top: 2px;
    left: -18px;
    bottom: 2px;
    border-left: 1px solid #fff;
    content: '';
}
.footer__menu-item:first-child:before{
    display: none;
}
/* --------------- /footer --------------- */

/* --------------- our-team --------------- */
.our-team {
    position: relative;
    z-index: 1;
    padding: 128px 0 10px;
    margin-bottom: 75px;
    background: #fff;
}
.our-team:after{
    position: absolute;
    bottom: -93px;
    left: 0;
    width: 100%;
    height: 93px;
    background: url("../img/white-bg.png") no-repeat center;
    background-size: cover;
    content: '';
}
.our-team__title{
    display: block;
    margin: 0 0 35px;
    color: #cd6a99;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
}
.our-team__title span{
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 10px;
    white-space: pre-line;
}
.our-team__title span:before,
.our-team__title span:after{
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 11px;
    background: url("../img/quotes.png") no-repeat center;
    content: '';
}
.our-team__title span:after{
    top: auto;
    right: 0;
    left: auto;
    bottom: 6px;
    -webkit-transform: scaleY(-1) scaleX(-1);
    transform: scaleY(-1) scaleX(-1);
}
.our-team__slider{
    padding: 0 4px;
    position: relative;
    text-align: right;
}
.our-team__slider:after{
    position: absolute;
    left: 51px;
    top: 3px;
    width: 383px;
    height: 437px;
    background: url("../img/camera.png") no-repeat;
    content: '';
}
.our-team__slider .swiper-container {
    display: inline-block;
    vertical-align: top;
    width: 456px;
    height: 397px;
    text-align: left;
}
.our-team__slider .swiper-slide {
    width: 456px;
    height: 397px;
}
.our-team__pic{
    position: relative;
    width: 100%;
    height: 307px;
    background-size: cover;
}
.our-team__text{
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 15px 0;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Lobster', sans-serif;
    text-align: center;
    color: #222222;
    font-weight: normal;
}
.our-team__text>div{
    display: table;
    width: 100%;
    height: 100%;
}
.our-team__text>div>div{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 95px;
}
.our-team__pic:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    background-repeat: no-repeat;
    animation: flicker 1s infinite;
}
.our-team__pic:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(70, 70, 70, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
@keyframes flicker {
    0% {
        opacity: 0.74;
    }
    5% {
        opacity: 0.55;
    }
    10% {
        opacity: 0.58;
    }
    15% {
        opacity: 0.22;
    }
    20% {
        opacity: 0.53;
    }
    25% {
        opacity: 0.44;
    }
    30% {
        opacity: 0.83;
    }
    35% {
        opacity: 0.17;
    }
    40% {
        opacity: 0.73;
    }
    45% {
        opacity: 0.72;
    }
    50% {
        opacity: 0.19;
    }
    55% {
        opacity: 0.82;
    }
    60% {
        opacity: 0.87;
    }
    65% {
        opacity: 0.98;
    }
    70% {
        opacity: 0.82;
    }
    75% {
        opacity: 0.29;
    }
    80% {
        opacity: 0.27;
    }
    85% {
        opacity: 0.74;
    }
    90% {
        opacity: 0.45;
    }
    95% {
        opacity: 0.98;
    }
    100% {
        opacity: 0.75;
    }
}
/* --------------- /our-team --------------- */

/* --------------- btn --------------- */
.btn{
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 12px 0;
    background: #cd6a99;
    border: none;
    border-radius: 30px;
    font: 20px 'Lobster', cursive;
    color: #fff;
    text-align: center;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}
.btn:hover{
    background: #e5609f;
}
.btn_1{

}
/* --------------- /btn --------------- */

/* --------------- portfolio --------------- */
.portfolio{
    padding: 16px 0 19px;
}
.portfolio .site__subtitle{
    margin: 0 0 27px;
}
.portfolio__title{
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 24px;
}
.portfolio__title span{
    display: block;
    margin: 4px 0 0;
}
.portfolio__slider{
    position: relative;
    text-align: right;
    padding: 0 0 26px;
    margin: 0 0 1px;
    display: block;
    cursor: pointer;
}
.portfolio__slider>div{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 700px;
    height: 153px;
}
.portfolio__slider .swiper-container {
    width: 100%;
    height: 153px;
    text-align: left;
}
.portfolio__slider .swiper-slide {
    height: 153px;
    width: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.portfolio__slider .swiper-slide:hover{
    opacity: 0.8;
}
.portfolio__slider .swiper-button-prev{
    left: -45px;
}
.portfolio__slider .swiper-button-next{
    right: -45px;
}
.portfolio__slider_video{
    background: url("../img/video-bg.png") no-repeat left bottom;
}
.portfolio__slider_photos{
    background: url("../img/photo-bg.png") no-repeat 28px bottom;
}
/* --------------- /portfolio --------------- */

/* --------------- partners --------------- */
.partners{
    position: relative;
    padding: 66px 0 51px;
    margin: 73px 0 0;
    background: #fff;
    text-align: center;
}
.partners:before{
    position: absolute;
    top: -93px;
    left: 0;
    width: 100%;
    height: 93px;
    background: url("../img/white-bg.png") no-repeat center;
    background-size: cover;
    content: '';
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.partners:after{
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 100%;
    height: 120px;
    background: #fff;
    content: '';
}
.partners__items{
    margin: 0 -9px 14px;
    padding: 6px 0 0;
}
.partners__item{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 70px;
    margin: 0 8px 15px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #efdae0;
    -webkit-transition: border 0.3s, box-shadow 0.3s;
    transition: border 0.3s, box-shadow 0.3s;
}
.partners__item:hover{
    border-color: #cdb9be;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.4);
}
/* --------------- /partners --------------- */

/* --------------- social-networks --------------- */
.social-networks a{
    display: inline-block;
    vertical-align: top;
    margin-left: 5.5px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    text-indent: -9999px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.social-networks a:first-child{
    margin-left: 0;
}
.social-networks__odn{
    background: url("../img/odn.png") no-repeat center #fe6600;
}
.social-networks__odn:hover{
    background-color: #c14d00;
}
.social-networks__google{
    background: url("../img/google.png") no-repeat center #e40000;
}
.social-networks__google:hover{
    background-color: #af0000;
}
.social-networks__vk{
    background: url("../img/vk.png") no-repeat center #253f73;
}
.social-networks__vk:hover{
    background-color: #1a254a;
}
.social-networks__facebook{
    background: url("../img/facebook.png") no-repeat center #132853;
}
.social-networks__facebook:hover{
    background-color: #212121;
}
.social-networks__twitter{
    background: url("../img/twitter.png") no-repeat center #44b8c9;
}
.social-networks__twitter:hover{
    background-color: #3a8e9f;
}
/* --------------- /social-networks --------------- */

/* --------------- your-choice --------------- */
.your-choice{
    position: relative;
    z-index: 1;
    padding: 118px 0 144px;
    margin-bottom: -110px;
    background: #fff;
}
.your-choice__wrap {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.your-choice__tape {
    padding-bottom: 10px;
    margin: 79px 0 38px;
    background: url("../img/your-choice-bg.png") repeat-y;
}
.your-choice__list{
    display: inline-block;
    vertical-align: top;
    width: 470px;
    margin-left: 23px;
}
.your-choice__title{
    height: 47px;
    margin: -7px 0 10px;
    font: 30px 'bebasneue_bold', sans-serif;
    text-transform: uppercase;
    text-align: left;
    transition: font-size .3s ease;
    -webkit-transition: font-size .3s ease;
}
.your-choice__item:hover .your-choice__title{
    font-size: 36px;
    transition: font-size .3s ease;
    -webkit-transition: font-size .3s ease;
}
.your-choice ul li {
    position: relative;
    height: 40px;
    margin: 0 0 10px 66px;
    font: 20px 'bebasneue_bold', sans-serif;
    text-transform: uppercase;
    text-align: left;
}
.your-choice ul li:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -63px;
    width: 44px;
    height: 44px;
    background: url("../img/your-choice-list.png") no-repeat 0 0;
}
.your-choice ul li span {
    display: inline-block;
    height: inherit;
    padding: 10px 10px;
    background-color: #ead3d9;
}
.your-choice__slider{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 431px;
    padding: 25px 0 24px;
}
.your-choice__slider .swiper-container {
    display: block;
    vertical-align: top;
    width: 303px;
    height: 190px;
    margin: 0 auto;
}
.your-choice__slider .swiper-slide {
    height: 192px;
    width: 307px;
    background-size: cover;
    background-repeat: no-repeat;
}
.your-choice__budget{
    position: relative;
    padding: 0 60px 46px;
    text-align: justify;
}
.your-choice__budget:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.your-choice__budget-item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 180px;
    height: 180px;
    background: #ead3d9;
    font: 25px 'bebasneue_bold', sans-serif;
    color: #9a7f86;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
}
.your-choice__budget-item span{
    display: block;
    width: 150px;
    margin: 0 auto;
    transform: translateY(50%);
}
.your-choice__update{
    font: 20px 'Lobster', cursive;
    color: #222;
    text-align: center;
}
.call-manager{
    position: relative;
    width: 200px;
    margin: 0 auto 11px;
    text-align: left;
}
.call-manager__feedback{
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    padding: 20px;
    background: #ead3d9;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
}
.call-manager__feedback.open{
    opacity: 1;
    visibility: visible;
}
.call-manager h2{
    font: 25px 'Lobster', cursive;
    color: #222;
    text-align: center;
}
.call-manager__phone{
    font: 25px 'Lobster', cursive;
    color: #222;
    cursor: default;
}
.call-manager__form label{
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    color: #9a7f86;
    font-weight: 100;
}
.call-manager__form input{
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
    padding-left: 10px;
    font-size: 14px;
    border-radius:3px;
    border: 1px solid #d0d0d0;

}
.call-manager__successfully{
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    padding: 20px;
    background: #ead3d9;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
}
.call-manager__successfully.success{
    opacity: 1;
    visibility: visible;
}
.call-manager__close{
    display: block;
    position: absolute;
    top: 0;
    right: -25px;
    width: 20px;
    height: 20px;
    padding: 1px 0 0 6px;
    background: #ead3d9;
    border-radius: 50px;
    color: #9a7f86;
    cursor: pointer;
}
.call-manager__feedback .error input {
    border: 1px solid #cd6a99;
    color: #cd6a99;
}
.call-manager__feedback input:focus {
    border-color: #9a7f86;
}
.call-manager__feedback .error input {
    border: 1px solid #cd6a99;
    color: #cd6a99;
}
.call-manager__feedback input:focus {
    border-color: #9a7f86;
}
/* --------------- /your-choice --------------- */

/* --------------- questions --------------- */
.questions__item {
    text-align: justify;
}
.questions__item:after{
    display: inline-block;
    width: 100%;
    content: '';
}
.questions__title{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 29px;
    text-transform: uppercase;
}
.questions__title:before{
    position: absolute;
    height: 1px;
    width: 100%;
    background: #cd6a99;
    content: '';
    left: 0;
    right: 0;
    top: 10px;
    z-index: 1;
}
.questions__title span{
    position: relative;
    z-index: 6;
    background: #fff;
    padding: 0 12px;
}

.questions__elem{
    position: relative;
    width: 300px;
    display: inline-block;
    height: 210px;
    vertical-align: top;
    margin-bottom: 20px;
    text-align: center;
}
.questions__elem span{
    display: block;
    position: absolute;
    width: 100%;
    height: 33px;
    top: 0;
    z-index: 6;
    font-size: 16px;
    color: #fff;
    background-color: #cd6a99;
    padding-top: 10px;
    font-family: "bebasneue_regular", sans-serif;
    text-transform: uppercase;
}
.questions__elem .questions__image{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 177px;
    margin-top: 33px;
}
.questions__radio{
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
}
 .questions__elem>div:before{
    display: block;
    opacity: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(205,106,153,.7) url("../img/cheacked.png") no-repeat;
    background-position: center 92px;
    content: '';
}
input[type=radio]:checked + div:before{
    opacity: 1;
}
.questions__result{
    position: relative;
    font-family: 'Lobster', sans-serif;
}
.questions__result-wrap{
    position: relative;
    text-align: justify;
    margin-bottom: 17px;
}
.questions__result-wrap:after{
    content: '';
    display: inline-block;
    width: 100%;
}
.questions__result-item{
    display: inline-block;
    width: 221px;
    height: 146px;
    background-size: cover;
}
.questions__result-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 3px;
}
.questions__result-sub-title{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #cd6a99;
    margin-bottom: 33px;
}
.questions__result-sub-title_1{
    color: #000;
}
/* --------------- /questions --------------- */